@page
@model NHLStendenCafe.Pages.AllesBetalenModel
@{
}

<h1>Rekening</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Nog te betalen</th>
      <th scope="col">Prijs</th>
      <th scope="col">Totaal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">Koffie</td>
      <td class="text-warning">1 van 2</td>
      <td>$3.50</td>
      <td>$7.00</td>
 
    </tr>
    <tr>
      <td scope="row">Thee</td>
      <td class="text-warning">2 van 2</td>
      <td>$4.50</td>
      <td>$9.00</td>
 
    </tr>
    <tr>
      <td scope="row">Taart</td>
      <td class="text-warning">1 van 2</td>
      <td>$1.50</td>
      <td>$3.00</td>
    </tr>
  </tbody>
     <tfoot>
            <tr>
                <th scope="row"></th>
                <td/>
                <td/>
                <th>$54</th>
            </tr>
        </tfoot>
</table>
<button class="btn btn-primary" style="float:right;">Betalen</button>