@page
@model NHLStendenCafe.Pages.PerPersoonBetalenModel
@{
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<h1>Per persoon betalen</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Aantal</th>
      <th scope="col">Prijs</th>
      <th scope="col">Totaal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">Koffie</td>
      <td class="text-success"><a class="btn-sm btn-dark" style="border-radius: 50px;" href="#"><i class="fa fa-minus"></i></a> 1 <a class="btn-sm btn-dark" style="border-radius: 50px;" href="#"><i class="fa fa-plus"></i></a> van 2</td>
      <td>$3.50</td>
      <td>$7.00</td>
    </tr>
    <tr>
      <td scope="row">Gebak</td>
      <td class="text-success"><a class="btn-sm btn-dark" style="border-radius: 50px;" href="#"><i class="fa fa-minus"></i></a> 1 <a class="btn-sm btn-dark" style="border-radius: 50px;" href="#"><i class="fa fa-plus"></i></a> van 2</td>
      <td>$3.50</td>
      <td>$7.00</td>
    </tr>
    <tr>
     <td scope="row">Thee</td>
      <td class="text-success"><a class="btn-sm btn-dark" style="border-radius: 50px;" href="#"><i class="fa fa-minus"></i></a> 1 <a class="btn-sm btn-dark" style="border-radius: 50px;" href="#"><i class="fa fa-plus"></i></a> van 2</td>
      <td>$3.50</td>
      <td>$7.00</td>
    </tr>
  </tbody>
     <tfoot>
            <tr>
                <th scope="row">Te betalen</th>
                <td/>
                <td/>
                <th>$54</th>
            </tr>
        </tfoot>

</table>
<button class="btn btn-primary" style="float:right;">Betalen</button>